@CHARSET "UTF-8";
  .all{
  	width:250px;
    border:2px solid #317ef3;
  	
  }
  
  .img-cont{
    width:106px;
    height:80px;
    
   	float:left;
   	margin:3px;
  }

  .img-cont>div{ /* 图片 +链接*/
    width:100px;
    height:80px;
    float:left;
    position:absolute;
  }

  .img-cont>div>div{	
    width:100px;
    height:80px;
     float:left;
  }

  .img-cont>div>a{
    width:106px;
    height:25px;
    line-height: 25px;
    text-align: center;
    font-size: 12px;
    color:;
    display: block;
    background: rgba(199,200,200,0.7);
    margin:0px 0px;
    cursor: pointer;
    position:absolute;
  }
 
  
  .file {
    position: relative;
    display: inline-block;
    background: #D0EEFF;
    border: 1px solid #99D3F5;
    border-radius: 4px;
    padding: 4px 12px;
    overflow: hidden;
    color: #1E88C7;
    text-decoration: none;
    text-indent: 0;
    line-height: 70px;
    width:80px;
    float:left;
}
.file input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}
.file:hover {
    background: #AADFFD;
    border-color: #78C3F3;
    color: #004974;
    text-decoration: none;
}
  
 /*.add_input{
		width:100px;
		height:100px;
		margin-bottom:30px;
		border:1px solid red;
		}
#id{
	width:200px;
	height:200px;
	}*/

  .hide{
    display: none !important;
  }